[submodule "main/son_project_1"]
	path = main/son_project_1
	url = https://github.com/mayaaihaozhe/son_project_1.git
[submodule "test/son_project_1"]
	path = test/son_project_1
	url = https://github.com/mayaaihaozhe/son_project_1.git
	branch = test
